.weather-card-block {
  display: flex;
  justify-content: space-between;
  min-width: 200px;

  &-data-container {
    display: flex;
    flex-direction: column;

    &.right-data {
      text-align: right;
    }
  }

  .weather-data-block-data {
    font-size: 2em;
    text-shadow: 1px 1px 7px #000, -1px -1px 7px #000;
  }

  .weather-data-block-title {
    font-weight: 300;
    font-size: 0.8em;
    text-shadow: 1px 1px 7px #000, -1px -1px 7px #000;
  }
}
